/* Additional Book-of-Job document styles; load document.css first. */
*[lang="hbo"] {
    font-family: "Taamey D WOFF2";
    font-size: 175%;
    font-feature-settings: 'ss01'; /* ss01 = xataf qamats qatan */
}
@font-face {
    font-family: "Taamey D WOFF2";
    src: url("woff2/Taamey_D.woff2");
}
em { font-style: normal; font-weight: bold; }
img.maxwidth50pc { max-width: 50%; }
span.unpointed-tanakh { /* no visual styling; exists so check_spelling_in_html.py can skip these */ }
