/* Shared Phonetic MAM and Yeivin ITM styles, loaded after document.css. */
*[lang="hbo"] { font-family: "Taamey D WOFF2"; font-size: 140%; }
@font-face { font-family: "Taamey D WOFF2"; src: url("woff2/Taamey_D.woff2"); }
em { font-style: normal; font-weight: bold; }
*.pre-or-post { color: gray; }
span.mam-implicit-maqaf { color: gray; }
span.ghostly-first-part-of-geminate { color: gray; }
span.invisible-but-takes-space { visibility: hidden; }
span.jt-stressed { text-transform: uppercase; font-weight: bold; } /* "jt" stands for Jacobson technical [transliteration style] */
span.yeivin-pseudo-heading { background-color: light-dark(yellow, #554d00); }
span.highlighted { background-color: light-dark(lightblue, #233e52); }
td.big-for-amb-early-mtg { font-size: 250%; letter-spacing: 0.1em; text-align: left; }
td[rowspan="2"] { vertical-align: middle; }
tr:nth-of-type(odd) td { background-color: light-dark(#eee, #222); }
h2.verse-number { font-size: 14pt; font-weight: normal; }
